<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to my christmas tree
  </h1>
  <div>
    Current state: {{state}}
    <ul>
      <li><button (click)="this.startup()">Startup</button></li>
      <li><button (click)="this.shutdown()">Shutdown</button></li>
      <li><button (click)="this.shutdownNow()">Shutdown NOW!</button></li>
      <li><button (click)="this.forceOn()">Force on</button></li>
      <li><button (click)="this.fireworks()">Fireworks!</button></li>
    </ul>
  </div>
</div>
